

.hnname {
    margin-right: 5px;
    font-size: 10pt;
}


.pagetop {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	color: #222222;
}

td {
	font-family: Verdana, Geneva, sans-serif;
	font-size:10pt;
	color:#828282;
	padding: 5px;
}

a:link    {
	color:#000000;
	text-decoration:none;
}

a:visited {
	color:#828282;
	text-decoration:none;
}