{# Macro to recursively display comments #}
{% macro render_comments(story) %}
    {% if not story %}
        <div class="row">
            <div class="panel panel-info col-md-6 col-sm-offset-2">
                <div class="panel-heading">Note</div>
                <div class="panel-body">
                    This story doesn't exist or hasn't been added to the database
                    yet.
                </div>
            </div>
        </div>
    {% else %}
        {% for comment_dict in story["comments"] %}
            {{ render_subcomments(comment_dict) }}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_subcomments(comment_dict, level=0) %}
    {% set comment_text = comment_dict.keys()[0] %}
    {% set ccomment_dicts = comment_dict[comment_text] %}
    <div class="container-fluid">
        <div class="row">
            <div
                    class="comment-content well col-md-3 col-md-offset-{{ level+1 }}">
                {{ comment_text }}
            </div>
        </div>
    </div>
    {% if comment_dict.values()|length != 0 %}
        {% for ccomment_text, ccomment_dict in ccomment_dicts.iteritems() %}
            {{ render_subcomments({ccomment_text: ccomment_dict}, level+1) }}
        {% endfor %}
    {% endif %}
    <div class="row"></div>
    <div class="row"></div>
{% endmacro %}

{# -------------------------------- Site ------------------------------------ #}

{% block additional_stylesheets %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/comment_section.css') }}" />
{%  endblock %}

{% block additional_javascripts %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/lib/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/comment_section.js') }}"></script>
{% endblock %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    {# cache interval #}
        {{ render_comments(story) }}
    {# endcache #}
</div>
{% endblock %}

{% block title %} Comments for Story {{ story_id }} {% endblock %}
