{# Macro to recursively display comments #}
{% macro render_comments(story) %}
    {% if not story %}
        <tr><b>
            This story doesn't exist or hasn't been added to the database yet.
        </b></tr>
    {% else %}
        {% for comment_dict in story["comments"] %}
            {{ render_subcomments(comment_dict) }}
            <tr class="spacer" style="height:5px"><td></td></tr>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro render_subcomments(comment_dict, level=0) %}
    {% set comment_text = comment_dict.keys()[0] %}
    {% set ccomment_dicts = comment_dict[comment_text] %}
    <tr class="comment">
        <td class="comment-content"
                style="position:relative;padding-left:{{ level * 15 }}px;width:{{80 - level * 15}}px;">
        {{ comment_text }}
    </td></tr>
    {% if comment_dict.values()|length != 0 %}
        {% for ccomment_text, ccomment_dict in ccomment_dicts.iteritems() %}
            {{ render_subcomments({ccomment_text: ccomment_dict}, level+1) }}
        {% endfor %}
    {% endif %}
    <tr class="spacer" style="height:5px"><td></td></tr>
{% endmacro %}

{# -------------------------------- Site ------------------------------------ #}

{% block additional_stylesheets %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/comment_section.css') }}" />
{%  endblock %}

{% block additional_javascripts %}
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/lib/jquery-2.1.4.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/comment_section.js') }}"></script>
{% endblock %}

{% extends "base.html" %}

{% block content %}
    <table id="itemlist" cellspacing="0" cellpadding="0" border="0",
           width="65%">
        <tbody>
            <tr style="height:10px"></tr>
            {{ render_comments(story) }}
        </tbody>
    </table>
{% endblock %}

{% block title %} Comments for Story {{ story_id }} {% endblock %}
