{# Macro to render story and its translation status #}
{% macro render_translation_status(story, rank) %}
    {% for lang, info in story["titles"].iteritems() %}
    {% set title = info["title"] %}
    {% set translation_status = info["translation_status"] %}
    <tr>
        <td align="right" valign="top" class="title"><span class="rank">
            {{ rank }}.
        </span></td>
        <td> {{ story["id"] }} </td>
            <td class="title"><a href="{{ story['url'] }}" class="storylink">
                {% if translation_status == "done" %}
                    {{ lang }}: {{ title|truncate(75, True) }}
                {% else %}
                    {{ lang }}: -
                {% endif %}
            </a></td>
        {{ set_translation_status(translation_status) }}
    </tr>
    <tr class="spacer" style="height:5px"></tr>
    {% endfor %}
{% endmacro %}

{% macro set_translation_status(status) %}
    {% if status|string == "not_requested" %}
        <td class="not_requested"> {{ status }} </td>
    {% elif status|string == "pending" %}
        <td class="pending"> {{ status }} </td>
    {% elif status|string == "done" %}
        <td class="done"> {{ status }} </td>
    {% endif %}
{% endmacro %}

{# -------------------------------- Site ------------------------------------ #}

{% extends "base.html" %}

{% block additional_stylesheets %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}" />
{%  endblock %}

{% block title %} Translation Dashboard {% endblock %}

{% block content %}
    <table class="table" id="itemlist" cellspacing="0" cellpadding="0" border="0">
        <thead>
            <tr>
                <td> Rank </td>
                <td> ID </td>
                <td> Name </td>
                <td> Status </td>
            </tr>
        </thead>
        {% cache interval %}
            <tbody>
                <tr style="height:10px"></tr>
                {% for rank in range(stories|length) %}
                    {{ render_translation_status(stories[rank], rank+1) }}
                {% endfor %}
            </tbody>
        {% endcache %}
    </table>
{% endblock %}
