{# Macros to render a story #}

{% macro display_story_titles(story) %}
	{% set titles = story["titles"] %}
	{% for lang, info in titles.iteritems() %}
		{% set translation_status = info["translation_status"] %}
		{% if translation_status == "done" and lang != source %}
			<h5><a href="{{ story['url'] }}" class="storylink">
					{{ lang }}: {{ info["title"] }}
				</a></h5>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro render_story(story, rank) %}
	<div class="row">
		<div class="panel panel-default col-md-6 col-sm-offset-2">
			<div class="panel-title">
				<h4>{{ rank }}.
				<a href="{{ story['url'] }}" class="storylink">
						{{ source }}: {{ story["titles"][source]["title"] }}</h4>
					{{ display_story_titles(story) }}</a>
			</div>
			<div class="panel-body">
						{{ story["score"] }} points | by {{
			story["author"]	}} | <a href="{{ story['id']}}/comments">Comments</a>
			</div>
		</div>
	</div>
{% endmacro %}

{# -------------------------------- Site ------------------------------------ #}

{% extends "base.html" %}

<html>
	<header>
		{% block navbar %}
			{{ super() }}
		{% endblock %}
	</header>
	<body>

		{% block additional_stylesheets %}
		    <link rel="stylesheet"
		          href="{{ url_for('static', filename='css/index.css') }}" />
		{%  endblock %}

		{% block title %} Current Stories {% endblock %}

		{% block content %}
			{# cache interval #}
				{% if stories|length == 0 %}
					<tr><b>
						No stories available (yet). Please wait shortly,
						then refresh the page.
					</b></tr>
				{% else %}
					{% for rank in range(stories|length) %}
						{{ render_story(stories[rank], rank+1) }}
					{% endfor %}
				{% endif %}
			{# endcache #}
		{% endblock %}
	</body>
</html>