{# Macros to render a story #}

{% macro display_story_titles(story) %}
	{% set titles = story["titles"] %}
	{% for lang, info in titles.iteritems() %}
		{% set translation_status = info["translation_status"] %}
		{% if translation_status == "done" and lang != "EN" %}
			<tr class='athing subtitle' id='{{ story["id"] }}'>
				<td></td>
				<td></td>
				<td class="title"><a href="{{ story['url'] }}" class="storylink">
					{{ lang }}: {{ info["title"] }}
				</a></td>
			</tr>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro render_story(story, rank) %}
	<tr class='athing' id='{{ story["id"]}}'>
        <td align="right" valign="top" class="title"><span class="rank">{{
	        rank }}.
        </span></td>
        <td valign="top" class="votelinks"></td>
		<td class="title"><a href="{{ story['url'] }}" class="storylink">
			<b>{{ source }}: {{ story["titles"][source]["title"] }}</b>
		</a></td>
	</tr>
	{{ display_story_titles(story) }}
	<tr>
        <td colspan="2"></td>
		<td class="subtext">
            <span class="score">{{ story["score"] }} points</span> | by {{
			story["author"]	}} | <a href="{{ story['id']}}/comments">Comments</a>
        </td>
	</tr>
	<tr class="spacer" style="height:5px"></tr>
{% endmacro %}

{# -------------------------------- Site ------------------------------------ #}

{% extends "base.html" %}

<html>
	<header>
		{% block navbar %}
			{{ super() }}
		{% endblock %}
	</header>
	<body>

		{% block additional_stylesheets %}
		    <link rel="stylesheet"
		          href="{{ url_for('static', filename='css/index.css') }}" />
		{%  endblock %}

		{% block title %} Current Stories {% endblock %}

		{% block content %}
			{% cache interval %}
				<table id="itemlist" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr style="height:10px"></tr>
						{% if stories|length == 0 %}
							<tr><b>
								No stories available (yet). Please wait shortly,
								then refresh the page.
							</b></tr>
						{% else %}
							{% for rank in range(stories|length) %}
								{{ render_story(stories[rank], rank+1) }}
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			{% endcache %}
		{% endblock %}
	</body>
</html>